doctype html
html
    head
        title Testing
        <script src="https://kit.fontawesome.com/3d92170940.js" crossorigin="anonymous"></script>
        link(rel="stylesheet", href="/static/styles.css")
    body
        block content
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        script(type="module", src="/static/main.js")