extends layouts/main

block content
    .alert-board#alertBoard
        section.alert-board__preparing
            .alert-title 준비 중 | Preparing
            .alert-board__orders#preparingOrders
        section.alert-board__complete
            .alert-title 준비 완료 | Complete
            .alert-board__orders#completeOrders
    audio#alertAudio(src="/sounds/alertBoard.mp3")