extends layouts/main

block content
    #noticeBoard
        .container
            .notice-board__complete
                h1 준비 완료 | Complete
                p.completeComment 음식이 준비되었습니다!
                .notice-board__orders#completeOrders

            .notice-board__preparing
                h1 준비 중 | Preparing
                p.preparingComment 음식이 준비 중입니다!
                .notice-board__orders#preparingOrders
    
        //- 알림음소리 (화면에는 보이지않음)
        iframe(src="" allow="autoplay" style="display:none;")
        audio#alertAudio(src="/sounds/alarmNotice.mp3")  

      

