#noticeBoard {
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow-x: hidden;

  .container {
    display: flex;
  }
  .notice-board__complete,
  .notice-board__preparing {
    margin-top: 5rem;
    width: 50%;

    h1 {
      font-size: 3rem;
      font-weight: bolder;
    }

    p {
      color: #fff;
      margin-top: 1rem;
      font-size: 1.5rem;
    }

    .notice-board__orders {
      margin-top: 2rem;
      width: 100%;
      height: 65%;
      position: relative;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
      grid-template-rows: repeat(4, minmax(25%, auto));

      .notice-board__order {
        margin: 0;
        color: #fff;
        text-align: center;
        font-size: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      @media screen and (max-width: 1150px) {
        .notice-board__order {
          font-size: 3rem;
        }
      }
      @media screen and (max-width: 750px) {
        .notice-board__order {
          font-size: 2.5rem;
        }
      }
      @media screen and (max-height: 600px) {
        .notice-board__order {
          font-size: 2.5rem;
        }
      }
      @media screen and (max-height: 400px) and (max-width: 550px) {
        .notice-board__order {
          font-size: 1.8rem;
        }
      }
    }

    @media screen and (max-width: 1150px) {
      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 1rem;
      }
    }
    @media screen and (max-width: 750px) {
      h1 {
        font-size: 1.4rem;
      }
    }
    @media screen and (max-width: 550px) {
      h1 {
        font-size: 1.25rem;
      }
    }

    &.notice-board__complete {
      h1 {
        color: yellow;
      }
      .notice-board__order {
        animation-name: blinkText;
        animation-duration: 1s;
        animation-iteration-count: 15;
        animation-direction: alternate;
        animation-fill-mode: none;
      }
    }
    &.notice-board__preparing {
      h1 {
        color: #fff;
      }
    }
  }
  @media screen and (max-height: 600px) {
    .notice-board__complete,
    .notice-board__preparing {
      margin-top: 2.5rem;
    }
  }
}

@keyframes blinkText {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
