@import '../mixins/button-mixin.scss';
@import '../mixins/fontStyle-mixin.scss';

// orderNotice 페이지 관련 scss 설정
#orderNotice {
  position: relative;
  display: flex;
  flex-direction: column;
  outline: none;
  height: 100vh;

  .topArea {
    height: 200px;
    background-color: #e1c89f;
    margin-bottom: 4rem;

    .logo {
      position: absolute;
      width: 150px;
      height: 150px;
      top: 50%;
      transform: translateY(-50%);
    }
    span.title {
      position: absolute;
      top: 50%;
      left: calc(1rem + 150px);
      transform: translateY(-50%);
      @include setBlackHans(#fff, 5rem);
    }
    @media screen and (max-width: 900px) {
      .logo {
        width: 100px;
        height: 100px;
      }
      span.title {
        font-size: 4rem;
        margin-left: -2rem;
      }
    }
    .button-area {
      float: right;
      position: relative;
      top: 30%;

      .button-area__button {
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
        border-color: #ffffff;
        border-width: 2px;
        border-style: solid;
        @include setButton($bgColor: #f3e9d9, $width: 130px);
        @include setBlackHans($color: #000000, $size: 1.5rem);
        padding: 8px 15px 8px 15px;
        outline: none;

        &:hover {
          opacity: 0.65;
          cursor: pointer;
        }
      }
      .button-area__button + .button-area__button {
        margin-left: 2.5rem;
      }

      @media screen and (max-width: 930px) {
        .button-area__button {
          width: 80px;
          font-size: 1rem;
          position: relative;
          top: 35%;
          padding: 5px 10px 5px 10px;
        }
      }
    }

    @media screen and (max-width: 730px) {
      .button-area {
        top: 5%;
        right: 15%;
      }
    }
  }

  .middleArea {
    .order-notifications__no-list {
      @include setBlackHans($size: 3rem);
      border: 1px solid #dddddd;
      border-radius: 15px;
      text-align: center;
      padding: 30px;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .order-notifications {
      @include setBlackHans();
      border-radius: 15px;
      width: 80%;
      margin: auto;
      height: 150px;
      margin-bottom: 1.5rem;
      display: flex;

      .order-notifications__status {
        writing-mode: vertical-rl;
        text-orientation: upright;
        text-align: center;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        letter-spacing: 10px;
        color: #fff;
        padding: 5px;
      }

      .order-notifications-details {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
        width: 120px;
        box-sizing: content-box;
        text-align: center;

        .order-notifications__number {
          font-size: 5rem;
        }
        .order-notifications__takeout {
          font-size: 1.5rem;
        }
      }
      .order-notifications-menu-info {
        width: 80%;
        background-color: #F6A800;
        padding: 10px;
        overflow: hidden;

        .order-notifications-menu {
          margin-bottom: 1rem;

          .order-notifications__menu-name {
            font-size: 2rem;
          }
          .order-notifications__menu-sides {
            font-family: 'Malgun Gothic' !important;
            font-weight: bold;
          }
        }
      }
      .button-area  {
        width: 20%;
        background-color: #F6A800;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-right: 2rem;

        .button-area__button {
          @include setButton($color: #fff);
        }
        .button-area__button--cancel {
          background-color: #000;
        }
        .button-area__button--complete {
          background-color: #E60013;
        }
      }

      &:hover {
        cursor: pointer;
        opacity: 0.95;
      }

      &.order-notifications__status--check {
        .order-notifications__status {
          background-color: #62A22B;
          font-size: 1rem;
          padding: 13px;
        }   
        .order-notifications-details {
          background-color: #E5E5E5;
          border-right: 1px solid #fff;
        }
        .order-notifications-menu-info {
          background-color: #E5E5E5;
        }
        .button-area {
          background-color: #E5E5E5;
        }
      }

      &.order-notifications__status--new {
        .order-notifications__status {
          background-color: #E60013;
          font-size: 2rem;
        }
        .order-notifications-details {
          background-color: #F6A800;
          border-right: 1px solid #dedede;
        }
        .order-notifications-menu-info {
          background-color: #F6A800;
        }
        .button-area {
          background-color: #F6A800;
        }
      }
    }
    

  .order-popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 3;
  }

  .order-popup-box {
    @include setBlackHans();
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $binary-popup-bg;
    padding: 1rem 1.5rem;
    width: 400px;
    height: 500px;

    .order-popup-title {
      text-align: center;
      font-size: 1.5rem;
      margin-top: 2rem;
      margin-bottom: 10px;
    }

    .order-popup-num {
      text-align: center;
      font-size: 4rem;
      font-weight: bolder;
      margin-bottom: 1.5rem;
    }

    .order-popup-takeout {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 3rem;
    }

    .order-popup-menu {
      width: 100%;
      height: 200px;
      position: relative;
      font-size: 1.2rem;
      font-weight: bold;
      overflow-y: auto;

      .order-notifications-menu {
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
        font-weight: 300;
      }
      .order-notifications__menu-name {
        font-size: 2rem;
      }
      .order-notifications__menu-sides {
        font-family: 'Malgun Gothic';
        font-weight: bold;
      }
    }

    .order-popup-cancel {
      @include setBlackHans();
      position: absolute;
      bottom: 15px;
      text-align: center;
      background-color: red;
      color: white;
      font-size: 1.5rem;
      width: 400px;
      height: 60px;
      border-radius: 0.5rem;
      border-width: 0;
      outline: none;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .show-popup {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    z-index: 3;
  }
}
