.order-btn {
  width: 100px;
  height: 50px;
  background-color: lightsalmon;
}

.order-bar {
  background-color: lightyellow;
  border: 2px solid black;
  border-radius: 5px;
  width: 200px;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  justify-content: space-between;
}

.order-bar .order-process-btns {
  display: flex;
}

.order-bar .order-process-btn {
  background-color: lightgray;
  border: 1px solid black;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-bar .order-clear-btn {
  color: green;
}
