//colors
$white : #fcfcfc;
$gray : #d4d3d4;
$light-gray : #F2F2F2;
$red : #d63c28;

$banner-bg : #D7BA95;

//toggles
$language-toggle-bg : #F6EEE1;
$language-toggle-btn : #7C4D3E;

//butons
$cancel-btn-bg : black;
$approve-btn-bg : #E60114;

//scrollbars
$scrollbar-bg :  rgb(207, 207, 207);
$scrollbar-bg-hover : rgb(185, 185, 185);