//colors
$white : #fcfcfc;
$gray : #d4d3d4;
$light-gray : #F2F2F2;
$dark-gray : #9b9b9b;
$red : #d63c28;

$banner-bg : #D7BA95;
$binary-popup-bg : #f1eeec;

//toggles
$language-toggle-bg : #F6EEE1;
$language-toggle-btn : #7C4D3E;

//butons
$cancel-btn-bg : black;
$approve-btn-bg : #E60114;
$binary-option-hover : #bbb9bb;

//scrollbars
$scrollbar-bg :  rgb(207, 207, 207);
$scrollbar-bg-hover : rgb(185, 185, 185);

//badges
$badge-sold-out-font : #6e6d6d;
$badge-discounted-bg : #F07200;