@import 'config/variables';
@import 'config/reset.scss';

@import 'partials/btns.scss';

@import 'pages/index.scss';
@import 'pages/salesControll.scss';
@import 'pages/kitchen.scss';

@import 'pages/registerMenu.scss';

// 기본 웹뷰 공간 초기화
html,
body {
  margin: 0;
  padding: 0;
}

// 웹 뷰 컨테이너 영역 설정
.container {
  position: relative;
  width: 85%;
  height: 100%;
  margin: auto;
}
@media screen and (min-width: 1600px) {
  .container {
    width: 80%;
  }
}
@media screen and (min-width: 2000px) {
  .container {
    width: 70%;
  }
}

// 스크롤바 관련 설정
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #dedede;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// 구분선 적용 클래스
.divider {
  width: 100%;
  border: 1px solid rgb(65, 65, 65);
  margin: 2rem 0 2rem 0;
}

.no-drag {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.hidden {
  display: none !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}
