@import "config/variables";
@import "config/reset.scss";

@import "pages/index.scss";

.btn--cancel{
    background-color: $cancel-btn-bg;
    display : flex;
    justify-content: center;
    align-items: center;
    color : $white;
    border-radius : 8px;
}

.btn--approve{
    background-color: $approve-btn-bg;
    display : flex;
    justify-content: center;
    align-items: center;
    color : $white;
    border-radius : 8px;
}

.btn--disabled{
    opacity : 0.4;
}

.no-drag {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.hidden{
    display : none;
}