@import "config/variables";
@import "config/reset.scss";

@import "partials/btns.scss";

@import "pages/index.scss";


.no-drag {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.hidden{
    display : none !important;
}

.overlay{
    position : fixed;
    top : 0;
    left : 0;
    width : 100vw;
    height : 100vw;
    background-color : rgba(0, 0, 0, 0.5);
}